.details {
  margin-top: 1rem;
  color: #ea738d;
  display: flex;
  flex-direction: column;
  align-items: center;

  .detailsUl {
    display: flex;
    flex-direction: column;

    li {
      border-bottom: solid 1px #ea738d;
      width: fit-content;
    }
  }

  img {
    width: 150px;
    border-radius: 16px;
    margin-bottom: 1rem;
  }

  p {
    font-weight: bolder;

    span {
      font-weight: normal;
    }
  }
}