.navbar {
  background-color: #fa57c1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  h1 {
    margin-left: 1rem;
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 0 #EA738DFF, 4px 4px 0 #ea738d61;
  }

  .navButtonsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    width: 50%;
  }
}

.appName {
  text-decoration: none;
  color: #001928db;
}

.appName:hover {
  color: #001928db;
}

.navlink {
  text-decoration: none;
  color: #001928db;
  border-bottom: solid 1px #001928db;
}

.navlink:hover {
  color: white;
  border-bottom: solid 1px white;
}