.modal-header {
  background-color: #79A7D3;
}

.modal-body {
  background-color: #cc79c4;
}

form {

  input,
  select {
    border-radius: 6px;
  }

  .singerInputDiv {
    display: flex;
    justify-content: space-between;
    margin: .3rem;
    margin-right: 5rem;
    margin-left: 4rem;


  }

  .songInputDiv {
    display: flex;
    justify-content: space-between;
    margin: .3rem;
    margin-right: 5rem;
    margin-left: 4rem;
  }

  .duration {
    display: flex;
    margin-left: 4rem;
    gap: 1rem;
  }


  select {
    margin: 0 auto;
  }
}