.details {
  margin-top: 1rem;
  color: rgb(234, 115, 141);

  img {
    width: 150px;
    border-radius: 16px;
    margin-bottom: 1rem;
  }

  p {
    font-weight: bolder;

    span {
      font-weight: normal;
    }
  }
}