.details {
  margin-top: 1rem;
  color: #ea738d;

  .detailsUl {
    li {

      border-bottom: solid 1px #ea738d;
    }
  }

  img {
    width: 150px;
    border-radius: 16px;
    margin-bottom: 1rem;
  }

  p {
    font-weight: bolder;

    span {
      font-weight: normal;
    }
  }
}