.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;




  .liCloseContainer {

    display: flex;
    justify-content: flex-start;
    gap: 3rem;

    .closeButton {
      background-color: transparent;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      border: solid #8A307F 1px;
      color: rgb(79, 69, 69);
    }


    .songSingerLi {
      border: solid #8A307F 1px;
      border-radius: 6px;
      background-color: rgba(234, 115, 141, 0.381);
      padding: .3rem;
      cursor: pointer;
      list-style: none;
    }
  }

  .list {
    width: 70%;
    display: flex;
    justify-content: space-between;

    ul {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

}

.Button {
  width: fit-content;
  border: solid 1px #8a307f;
  border-radius: 6px;
  padding: .3rem;
  margin-top: .5rem;
  background-color: #00fffb;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);

}

.modal-header {
  background-color: #00fffb;
  color: black;
}

.modal-body {
  background-color: #791253ae;
  // min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  background-color: rgba(137, 172, 227, 0.338);

}

form {

  input,
  select {
    border-radius: 6px;
  }

  .singerInputDiv,
  .songInputDiv {
    display: flex;
    justify-content: space-between;
    margin: .3rem;
    margin-right: 5rem;
    margin-left: 4rem;


  }

  .durationDiv {
    display: flex;
    margin-left: 4rem;
    gap: 1rem;
  }

  .releaseDateDiv,
  .selectDiv {
    margin: .3rem;
    margin-left: 4rem;

    input {
      margin-left: 3rem;
    }

    select {

      margin-left: 6.5rem;
    }
  }

}