@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap");
body {
  background: url(../musica-para-treinar-scaled.jpg) center/cover no-repeat;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  height: 100vh;
}

.details {
  margin-top: 1rem;
  color: #ea738d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .detailsUl {
  display: flex;
  flex-direction: column;
}
.details .detailsUl li {
  border-bottom: solid 1px #ea738d;
  width: fit-content;
}
.details img {
  width: 150px;
  border-radius: 16px;
  margin-bottom: 1rem;
}
.details p {
  font-weight: bolder;
}
.details p span {
  font-weight: normal;
}

.singerSongContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singerSongContainer .listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singerSongContainer .listContainer h2 {
  font-family: "Bitter", serif;
  text-shadow: 2px 2px 0 #ea738d, 4px 4px 0 #00fffb;
  margin: 5rem;
}
.singerSongContainer .listContainer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50rem;
}
.singerSongContainer .listContainer ul .liCloseContainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 1rem;
}
.singerSongContainer .listContainer ul .liCloseContainer .closeButton {
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border: none;
  position: absolute;
  left: -8%;
  top: -20%;
  color: transparent;
}
.singerSongContainer .listContainer ul .liCloseContainer li {
  border: solid #8A307F 1px;
  border-radius: 6px;
  background-color: rgba(234, 115, 141, 0.3803921569);
  padding: 0.3rem;
  cursor: pointer;
  list-style: none;
  width: fit-content;
}
.singerSongContainer .listContainer ul .liCloseContainer:hover > .closeButton {
  color: wheat;
  border: solid 1px wheat;
  border-radius: 50%;
}

.Button {
  width: fit-content;
  border: solid 1px #8a307f;
  border-radius: 6px;
  padding: 0.3rem;
  margin-top: 0.5rem;
  background-color: #00fffb;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.modal-header {
  background-color: #00fffb;
  color: black;
}

.modal-body {
  background-color: rgba(121, 18, 83, 0.6823529412);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  background-color: rgba(137, 172, 227, 0.338);
}

form input,
form select {
  border-radius: 6px;
}
form .singerInputDiv,
form .songInputDiv {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
  margin-right: 5rem;
  margin-left: 4rem;
}
form .durationDiv {
  display: flex;
  margin-left: 4rem;
  gap: 1rem;
}
form .releaseDateDiv,
form .selectDiv {
  margin: 0.3rem;
  margin-left: 4rem;
}
form .releaseDateDiv input,
form .selectDiv input {
  margin-left: 3rem;
}
form .releaseDateDiv select,
form .selectDiv select {
  margin-left: 6.5rem;
}

.navbar {
  background-color: #00fffb;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar h1 {
  margin-left: 1rem;
  font-family: "Bitter", serif;
  text-shadow: 2px 2px 0 #ea738d, 4px 4px 0 rgba(234, 115, 141, 0.3803921569);
}
.navbar .navButtonsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  width: 70%;
}

.appName {
  text-decoration: none;
  color: rgba(0, 25, 40, 0.8588235294);
}

.appName:hover {
  color: rgba(0, 25, 40, 0.8588235294);
}

.navlink {
  text-decoration: none;
  color: rgba(0, 25, 40, 0.8588235294);
  border-bottom: solid 1px rgba(0, 25, 40, 0.8588235294);
}

.navlink:hover {
  color: #ea738d;
}

/*# sourceMappingURL=style.css.map */
